wsdl/demo/ctx_api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ctx_api"
        targetNamespace="http://yvoinov.com/ctx_api.wsdl"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://yvoinov.com/ctx_api.wsdl"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd1="http://yvoinov.com/ctx_api.xsd" >

  <documentation>
  WSDL for Service: ctx_api, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>

  <types>
    <schema targetNamespace="http://yvoinov.com/ctx_api.xsd" xmlns:tns="http://yvoinov.com/ctx_api.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <complexType name="yvoinov_com_ctx_apiUser_thesLoaded_Out">
        <all>
          <element name="pthslistOut" type="tns:yvoinov_com_CtxApiThesTab"/>
        </all>
      </complexType>
      <complexType name="yvoinov_com_CtxApiThesTab">
        <all>
          <element name="array" type="tns:ArrayOfString"/>
        </all>
      </complexType>
      <complexType name="ArrayOfString">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="yvoinov_com_ctx_apiUser_getQualifiers_Out">
        <all>
          <element name="pqualifiersOut" type="tns:yvoinov_com_CtxApiTermTab"/>
        </all>
      </complexType>
      <complexType name="yvoinov_com_CtxApiTermTab">
        <all>
          <element name="array" type="tns:ArrayOfString"/>
        </all>
      </complexType>
      <complexType name="yvoinov_com_ctx_apiUser_getSyn_Out">
        <all>
          <element name="psynOut" type="tns:yvoinov_com_CtxApiTermTab"/>
        </all>
      </complexType>
      <complexType name="yvoinov_com_ctx_apiUser_getBt_Out">
        <all>
          <element name="pbtOut" type="tns:yvoinov_com_CtxApiTermTab"/>
        </all>
      </complexType>
      <complexType name="yvoinov_com_ctx_apiUser_getNt_Out">
        <all>
          <element name="pntOut" type="tns:yvoinov_com_CtxApiTermTab"/>
        </all>
      </complexType>
      <complexType name="yvoinov_com_ctx_apiUser_getRt_Out">
        <all>
          <element name="prtOut" type="tns:yvoinov_com_CtxApiTermTab"/>
        </all>
      </complexType>
      <complexType name="yvoinov_com_ctx_apiUser_getNtp_Out">
        <all>
          <element name="pntpOut" type="tns:yvoinov_com_CtxApiTermTab"/>
        </all>
      </complexType>
    </schema>
  </types>

  <message name="hasHomographsInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
  </message>
  <message name="getBtOutput">
    <part name="return" type="xsd1:yvoinov_com_ctx_apiUser_getBt_Out"/>
  </message>
  <message name="getBtSSBSOutput">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="versionOutput">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="termCounterInput">
    <part name="param0" type="xsd:string"/>
  </message>
  <message name="getNtpOutput">
    <part name="return" type="xsd1:yvoinov_com_ctx_apiUser_getNtp_Out"/>
  </message>
  <message name="getRtOutput">
    <part name="return" type="xsd1:yvoinov_com_ctx_apiUser_getRt_Out"/>
  </message>
  <message name="termCounterOutput">
    <part name="return" type="xsd:decimal"/>
  </message>
  <message name="getBtSSBSInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:decimal"/>
    <part name="param2" type="xsd:string"/>
  </message>
  <message name="phraseExistsOutput">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="thesLoadedInput">
  </message>
  <message name="getSynOutput">
    <part name="return" type="xsd1:yvoinov_com_ctx_apiUser_getSyn_Out"/>
  </message>
  <message name="searchStringParserOutput">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="hasHomographsOutput">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="getNoteInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
  </message>
  <message name="versionInput">
  </message>
  <message name="getRtInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
  </message>
  <message name="getNtOutput">
    <part name="return" type="xsd1:yvoinov_com_ctx_apiUser_getNt_Out"/>
  </message>
  <message name="searchExpansionLevelOutput">
    <part name="return" type="xsd:decimal"/>
  </message>
  <message name="getQualifiersInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
  </message>
  <message name="searchExpansionLevelInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
  </message>
  <message name="searchExpansionTermInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
  </message>
  <message name="getQualifiersOutput">
    <part name="return" type="xsd1:yvoinov_com_ctx_apiUser_getQualifiers_Out"/>
  </message>
  <message name="getNtInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:decimal"/>
    <part name="param2" type="xsd:string"/>
  </message>
  <message name="thesLoadedOutput">
    <part name="return" type="xsd1:yvoinov_com_ctx_apiUser_thesLoaded_Out"/>
  </message>
  <message name="getBtInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:decimal"/>
    <part name="param2" type="xsd:string"/>
  </message>
  <message name="phraseExistsInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
  </message>
  <message name="phraseRelationExistsInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
    <part name="param2" type="xsd:string"/>
  </message>
  <message name="searchStringParserInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
    <part name="param2" type="xsd:string"/>
    <part name="param3" type="xsd:string"/>
    <part name="param4" type="xsd:decimal"/>
    <part name="param5" type="xsd:string"/>
    <part name="param6" type="xsd:decimal"/>
    <part name="param7" type="xsd:decimal"/>
  </message>
  <message name="getNtpInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:decimal"/>
    <part name="param2" type="xsd:string"/>
  </message>
  <message name="searchExpansionTermOutput">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="getSynInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
  </message>
  <message name="phraseRelationExistsOutput">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="getNoteOutput">
    <part name="return" type="xsd:string"/>
  </message>

  <portType name="ctx_apiPortType">
    <operation name="getBtSSBS">
      <input message="tns:getBtSSBSInput"/>
      <output message="tns:getBtSSBSOutput"/>
    </operation>
    <operation name="getQualifiers">
      <input message="tns:getQualifiersInput"/>
      <output message="tns:getQualifiersOutput"/>
    </operation>
    <operation name="getNtp">
      <input message="tns:getNtpInput"/>
      <output message="tns:getNtpOutput"/>
    </operation>
    <operation name="getNt">
      <input message="tns:getNtInput"/>
      <output message="tns:getNtOutput"/>
    </operation>
    <operation name="hasHomographs">
      <input message="tns:hasHomographsInput"/>
      <output message="tns:hasHomographsOutput"/>
    </operation>
    <operation name="getNote">
      <input message="tns:getNoteInput"/>
      <output message="tns:getNoteOutput"/>
    </operation>
    <operation name="version">
      <input message="tns:versionInput"/>
      <output message="tns:versionOutput"/>
    </operation>
    <operation name="getSyn">
      <input message="tns:getSynInput"/>
      <output message="tns:getSynOutput"/>
    </operation>
    <operation name="searchStringParser">
      <input message="tns:searchStringParserInput"/>
      <output message="tns:searchStringParserOutput"/>
    </operation>
    <operation name="termCounter">
      <input message="tns:termCounterInput"/>
      <output message="tns:termCounterOutput"/>
    </operation>
    <operation name="getBt">
      <input message="tns:getBtInput"/>
      <output message="tns:getBtOutput"/>
    </operation>
    <operation name="searchExpansionTerm">
      <input message="tns:searchExpansionTermInput"/>
      <output message="tns:searchExpansionTermOutput"/>
    </operation>
    <operation name="phraseExists">
      <input message="tns:phraseExistsInput"/>
      <output message="tns:phraseExistsOutput"/>
    </operation>
    <operation name="phraseRelationExists">
      <input message="tns:phraseRelationExistsInput"/>
      <output message="tns:phraseRelationExistsOutput"/>
    </operation>
    <operation name="thesLoaded">
      <input message="tns:thesLoadedInput"/>
      <output message="tns:thesLoadedOutput"/>
    </operation>
    <operation name="getRt">
      <input message="tns:getRtInput"/>
      <output message="tns:getRtOutput"/>
    </operation>
    <operation name="searchExpansionLevel">
      <input message="tns:searchExpansionLevelInput"/>
      <output message="tns:searchExpansionLevelOutput"/>
    </operation>
  </portType>

  <binding name="ctx_apiBinding" type="tns:ctx_apiPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getBtSSBS">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/getBtSSBS"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="getQualifiers">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/getQualifiers"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="getNtp">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/getNtp"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="getNt">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/getNt"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="hasHomographs">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/hasHomographs"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="getNote">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/getNote"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="version">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/version"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="getSyn">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/getSyn"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="searchStringParser">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/searchStringParser"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="termCounter">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/termCounter"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="getBt">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/getBt"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="searchExpansionTerm">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/searchExpansionTerm"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="phraseExists">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/phraseExists"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="phraseRelationExists">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/phraseRelationExists"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="thesLoaded">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/thesLoaded"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="getRt">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/getRt"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
    <operation name="searchExpansionLevel">
      <soap:operation soapAction="urn:yvoinov-com-ctx_api/searchExpansionLevel"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:yvoinov-com-ctx_api"/>
      </output>
    </operation>
  </binding>

  <service name="ctx_api">
    <port name="ctx_apiPort" binding="tns:ctx_apiBinding">
      <soap:address location="http://localhost:8888/wsdl/ctxapi"/>
    </port>
  </service>


</definitions>
